body {
    background: url('../images/background.jpg');
    background-repeat: repeat;
    
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: arial;
}

header {
    font-size: 1.5em;
    font-weight: bold;
}

[id=all-contents] {
    max-width: 800px;
    margin: auto;
}


/* navigation menu */

nav {
     /* rgb(239, 80, 41); */
    margin: 0 auto;
    display: flex;
    padding: 10px;
}

nav header {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    flex: 1;
}

nav ul {
    -moz-padding-start: 0;
    -webkit-padding-start: 0;
    list-style-image: none;
}

nav li {
    display: inline-block;
    padding: 0 10px;
    font-size: 1.2em;
}

nav a {
    font-family: 'Barrio', cursive;
    font-size: 48px;
    text-decoration: none;
    /*color: #fff;*/
}

/* main container area beneath menu */

main {
    /*rgb(245, 238, 219);*/
    display: flex;
}

[class=sidebar] {
    margin-right: 10px;
    padding: 10px;
}

[class=sidebar] img {
    width: 200px;
}

[class=content] {
    flex: 1;
    padding: 4px;
    padding-top: 0;
    margin-right: 10px;
}

[class=discography] header {
    font-size: 1.25em;
}


/*************/

#image-billy {
    border-color: rgba(255, 255, 255, 1);
    cursor: pointer; cursor: hand;
}

section ul {
    padding-left: 0;
}

#rider-div {
    border-radius: 15px;
    border-color: orange;
    background-color: #66A9D7;
}

#rider-data-table {
    margin: auto;
    border-collapse: collapse;
}

#rider-data-table td {
    padding: 10px 20px 10px 10px;
}

.quote {
    font-style: italic;
}

#sidebar {
    text-align: center;
}

#sidebar section {
    border-left: 2px solid orange;
    border-right: 2px solid orange;
    border-bottom: 2px solid orange;
    border-radius: 20px;
    background-color: #66A9D7;
}

#sidebar section h2 {
    border-left: 1px solid orange;
    border-right: 1px solid orange;
    border-radius: 20px;
    background-color: #F83B2E;
}

#sidebar img {
    border-radius: 20px;
    border: 3px solid #F83B2E;
}

main, nav {
    border-radius: 15px;
    box-shadow: 20px 5px 30px #1c1c1c;
}

main {
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    display: none;
}

main, nav {
    background: #e8e0ae;
}

nav a{
    color: #445060;
}
